# -----------------------------------------
# Python bytecode & cache
# -----------------------------------------
__pycache__/
*.py[cod]
*$py.class

# -----------------------------------------
# Virtual environment
# -----------------------------------------
venv/
ENV/
env/
.venv/
.env/
config/

# -----------------------------------------
# Distribution / packaging
# -----------------------------------------
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
parts/
sdist/
var/
*.egg-info/
*.egg

# -----------------------------------------
# Installer logs
# -----------------------------------------
pip-log.txt
pip-delete-this-directory.txt

# -----------------------------------------
# Unit test / coverage
# -----------------------------------------
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/

# -----------------------------------------
# Jupyter Notebook
# -----------------------------------------
.ipynb_checkpoints

# -----------------------------------------
# PyCharm / VSCode
# -----------------------------------------
.idea/
.vscode/
*.iml

# -----------------------------------------
# Environment variables / secrets
# -----------------------------------------
*.env
*.local
.env.*
*.secret
config.local.json

# Ignore private keys inside config
config/*.key
config/*.pem
config/*.p12
config/*.der
config/*_private.*
config/*private*
config/*.crt
config/*.csr


# -----------------------------------------
# Mac / OS Files
# -----------------------------------------
.DS_Store
*.swp

# -----------------------------------------
# Logs
# -----------------------------------------
logs/
*.log

# -----------------------------------------
# Temp files
# -----------------------------------------
tmp/
temp/

